* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {

    background-color: aliceblue;

}

.contain {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 400px;
    padding-top: 10rem;
    position: relative;

}

.select {
    width: 130px;
    height: 130px;
    /* border:  4px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 2;
}

.item {
    min-width: 100px;
    min-height: 100px;
    /* border: 5px solid gray; */
    background-color: rgb(220, 220, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    display: block;
    background-size: cover;
    background-position: center;

}

.equal {
    color: gray;
    font-size: 10rem;
    font-weight: bolder;
}

.select {
    border: 5px solid black;
    width: 120px;
    height: 120px;
}

.heading {
    font-size: 2.5rem;
    font-weight: 500;
    position: absolute;
    top: 20px;
    left: 0;
}

.result {
    font-size: 2rem;
    position: absolute;
    bottom: 300px;
    left: 10%;

}

.bg1 {
    background-image: url('./stone.jpeg');
}

.bg2 {
    background-image: url('./paper.jpeg');
}

.bg3 {
    background-image: url('./sisseor.jpeg');
}

.item1 {
    display: none;
}

.item2 {
    display: none;
}

.item3 {
    display: none;
}

.select {
    position: relative;
}

.select2::before {
    content: 'Computer';
    font-size: 2rem;
    position: absolute;
    top: -45px;

}

.select1::before {
    content: 'Player';
    font-size: 2rem;
    top: -150px;
    position: absolute;
}