* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: aliceblue;

}

.contain {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    padding-top: 10rem;

}
.select{
width: 130px ;
height: 130px;
/* border:  4px solid black; */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
z-index: 2;
}

.item {
    min-width: 100px;
    min-height: 100px;
    /* border: 5px solid gray; */
    background-color: rgb(220, 220, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    display: block;
    background-size: cover;
    background-position: center;
    
}
.equal{
    color: gray;
    font-size: 10rem;
    font-weight: bolder;
}

.select1 .item{
    background-color: blueviolet;
}
.bg1{
    background-image: url('./stone.jpeg');
}
.bg2{
    background-image: url('./paper.jpeg');
}
.bg3{
    background-image: url('./sisseor.jpeg');
}
.item1{
    display: none;   
}
.item2{
    display: none;
}
.item3{
    display: none;
}
